
<div class="hero">
    <br />
    <div class="frosty">
        <h1>Learn to bake from other home cooks</h1>
        <h2>Everyday tools and everyday skills</h2>
        
            <%= link_to 'Learn More', '#', class: 'btn btn-success pull-right' %>
        
    </div>
</div>