
<div class="hero">
    <br />
    <div class="frosty">
        <h1>Learn to bake from other home cooks</h1>
        <div class="hidden-sm-down">
            <h2>Everyday tools and everyday skills</h2>
        </div>
        <div align="right">
            <%= link_to 'Learn More', '#', class: 'btn btn-primary pull-right' %>
        </div>
    </div>
</div>

<br />

<div class="row feature text-center">
    <div class="col-12 col-sm">
        <h3>Amazing Courses</h3>
        <br />
        <p>Choose from tons of recipes and techniques with amazing instructors.</p>
    </div>
    
    <div class="col-12 col-sm">
        <h3>Learn Exactly What You Need</h3>
        <br />
        <p>Our lessons aren't bundled, so you only pay for the content you need</p>
    </div>
    
    <div class="col-12 col-sm">
        <h3>Join our Community</h3>
        <br />
        <p> Learn with other home cooks and baking enthusiasts!</p>
    </div>
</div>


