html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer { 
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: rgba(171,178,184,.9);
    color: rgb(247, 230, 218);
    font-family: 'Josefin Sans', sans serif;
    font-size: 20px;
    padding: 10px 0px;
    margin-top: 30px;
}

#footer a {
    color: rgb(247, 230, 218);
    font-weight: 100;
    font-size: 15px;
}