
.topclear {
    height: 75px;
}

.navbar{
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0px 1px 3px #2a2a2a;
    background: image_url('pink_rice.png');
}

.navbar-light a.navbar-brand {
    color: #677e7e;
}

.hero {
    background: image_url('heroimage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
    background: rgba(247, 230, 218, .5);
    position: absolute;
    top: 270px;
    right: 10px;
    padding: 15px 30px 15px 30px;
    
}

.frosty h1 {
     color: #677e7e;
     text-align: right;
     font-family: 'Josefin Sans', sans-serif;
     font-weight: 600;
     
}

.frosty h2 {
     color: #677e7e;
     text-align: right;
     font-family: 'Josefin Sans', sans-serif;
}

.feature {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

body {
    background: image_url('pink_rice.png');
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

a.btn {
    padding: 10px 15px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

}
 
a.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
a.btn-primary {
    background-color: #677e7e;
    color: #f7e6da;
}
 
a.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #455656;
    color: #f7e6da;
}
 
a.btn-primary:active, .btn-primary.active {
    background-color: #586d6d;
    box-shadow: none;
    color: #f7e6da;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(255,255,255,.5);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 10px;
}

.booyah-box h2 .booyah-box h1 {
    margin: 10px;
}

h1, h2 {
    color: #677e7e;
}