
.topclear {
    height: 75px;
}

.navbar{
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0px 1px 3px #2a2a2a;
    background: image_url('pink_rice.png');
}

.navbar-light a.navbar-brand {
    color: #677e7e;
}

.hero {
    background: image_url('heroimage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
    background: rgba(247, 230, 218, .5);
    position: absolute;
    top: 270px;
    right: 10px;
    padding: 15px 30px 15px 30px;
    
}

.frosty h1 {
     color: #677e7e;
     text-align: right;
     font-family: 'Josefin Sans', sans-serif;
     font-weight: 600;
     
}

.frosty h2 {
     color: #677e7e;
     text-align: right;
     font-family: 'Josefin Sans', sans-serif;
}

.feature {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

body {
    background: image_url('pink_rice.png');
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}